<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
                collapse-btn"> <i data-feather="align-justify"></i></a>
            </li>
            <li>
                <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                    <i data-feather="maximize"></i>
                </a>
            </li>
            <li>
                @await Component.InvokeAsync("_AdminTopSearchComponent")
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        @await Component.InvokeAsync("_AdminTopMessageComponent")
        @await Component.InvokeAsync("_AdminTopNotificationComponent")
        @await Component.InvokeAsync("_AdminUserProfileComponent")
    </ul>
</nav>