@using WebApp.DTOs.ServiceDTO
@model List<ServiceResultDTO>
@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4>Services</h4>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">IconURL</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                count
                                ++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.Title</td>
                                    <td>@item.Description</td>
                                    <td>@item.IconURL</td>
                                    <td><a href="/AdminService/DeleteService/@item.ServiceId/" class="btn btn-danger">Delete</a></td>
                                    <td><a href="/AdminService/UpdateService/@item.ServiceId/" class="btn btn-success">Edit</a></td>
                                </tr>
                            }

                        </table>
                        <br />
                        <a href="/AdminService/AddService/" style="color: white;" class="btn btn-primary">Add Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




