@using WebApp.DTOs
@model List<NotificationResultDTO>
       

<li class="dropdown dropdown-list-toggle">
    <a href="#" data-toggle="dropdown"
           class="nav-link notification-toggle nav-link-lg">
        <i data-feather="bell" class="bell"></i>
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
        <div class="dropdown-header">
            Notifications
            <div class="float-right">
                <a href="#">Mark All As Read</a>
            </div>
        </div>
        <div class="dropdown-list-content dropdown-list-icons">
            @foreach (var item in Model)
            {
                <a href="#" class="dropdown-item">
                    <span class="dropdown-item-icon bg-info text-white">
                        <i class="@item.IconURL"></i>
                    </span> <span class="dropdown-item-desc">
                    @item.Description <span class="time">
                    @item.NotificationTime.ToString("dd MMMM yyyy - HH:mm")
                </span>
            </span>
        </a>

    }


               
</div>
<div class="dropdown-footer text-center">
    <a href="#">View All <i class="fas fa-chevron-right"></i></a>
</div>
</div>
</li>