@using WebApp.DTOs.ReservationDTO
@model CreateReservationDTO
@{
    ViewData["Title"] = "AddReservation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-header">
                <h4>Add Reservations</h4>
            </div>

            <form method="post">

                <div class="card-body">

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Fullname
                        </label>

                        <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" asp-for="Fullname" />
                        </div>
                    </div>


                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Email
                        </label>

                        <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" asp-for="Email" />
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Phone
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" asp-for="Phone" />
                        </div>

                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Count of People
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" asp-for="CountPeople" />
                        </div>

                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Date
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input type="datetime-local" class="form-control" asp-for="ReservationDate" />
                        </div>

                    </div>

                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Time
                        </label>
                        <div class="col-sm-12 col-md-7">
                            <input type="text" class="form-control" asp-for="ReservationTime" />
                        </div>

                    </div>


                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Message
                        </label>

                        <div class="col-sm-12 col-md-7">
                            <textarea class="form-control" asp-for="Message"></textarea>
                        </div>
                    </div>


                    
                    <div class="form-group row mb-4">
                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">
                            Status
                        </label>

                        <div class="col-sm-12 col-md-7">
                            <input type="text" asp-for="ReservationStatus" value="true" class="form-control" readonly>
                            </div>
                    </div>


                    <div class="form-group row mb-4">
                        <label class="col-form-label col-12 col-md-3 col-lg-3"></label>

                        <div class="col-sm-12 col-md-7">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
</div>


