
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadAdminComponent")
<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
        @await Component.InvokeAsync("_AdminTopNavbarComponent")
            @await Component.InvokeAsync("_AdminSidebarComponent")
      <!-- Main Content -->
      <div class="main-content">
                <section class="section">

                @RenderBody()

                @await Component.InvokeAsync("_AdminSettingSidebarComponent")
                </section>

      </div>
            @await Component.InvokeAsync("_AdminFooterComponent")
    </div>
  </div>
    @await Component.InvokeAsync("_AdminScriptComponent")
</body>
</html>
