@using WebApp.DTOs
@using WebApp.DTOs.CategoryDTO
@model List<CategoryResultDTO>

<ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">

    @foreach (var item in Model)
    {

        <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
                <h4>@item.CategoryName</h4>
            </a>
        </li>
    
    }

</ul>
